
/* make the lists in pets.html parallel to each other to create a sidebar */

#location-form {
    width: 80%;
  }

#search-container {
    display: flex;
    /* width: 95vw; */
  }
  
  #search-container .sidebar {
    flex: 1; /* take up 1 part of the available space */
    padding: 1em;
    /* border-right: 1px solid #ccc; */
    margin-left: -75; 

  }
  
  #search-container .main {
    flex: 3; /* take up 9 parts of the available space */
    padding: 1em;
  }

  .main ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    list-style: none;
    padding: 0;
  }
  
  .main li {
    border: 1px solid #ccc;
    /* padding: 1em; */
    border-radius: 5px;
    background-color: lightblue;
    
  }

  .main img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    /* overflow: hidden; */
    /* opacity: 1;
    transition: opacity 0.3; */
  }

  .main li:hover {
    /* opacity:0.7; */
    cursor: pointer;
  }

  .main p {
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
    /* color: white; */
  }

  #text {
    text-align: center;
  }

.main li {
  position: relative;
}

.main li .pets-like {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }

  /* .fa-heart {
    background-color: 87ceeb;
    border-radius: 50%;
    padding: 10px;
    text-align:center;
  } */

  /* .option {
    width: 70%;
  } */
  
  .main li .pets-like-saved {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }

  
